  {% block content %}


<h1> Employee detail </h1>
  <h3> Employee: {{c.name}}</h3>
        <table class="table table-dark table-striped">
        {%for i in total_time%}
            <thead>
                <tr>

                  <th scope="col"> Name</th>
                  <th scope="col">Employer </th>

                    <th scope="col">Engaged</th>
                    <th scope="col">date working hours</th>
                    <th scope="col">Total working hours</th>


                </tr>
            </thead>
                    <td>  {{i.name}}</td>
                    <td> {{i.date}}</td>
                    <td> {{i.engaged}}</td>
                    <td> {{i.total_time}}</td>
            {% endfor %}

            <td> {{general_total_time}}</td>

{% endblock %}
